{% extends 'base_admin.html.twig' %}

{% block title %}Modifier un Cursus{% endblock %}

{% block admin_content %}
    <div class="card shadow-sm p-4">
        <h3 class="mb-4 text-primary">Modifier le Cursus</h3>

        {{ include('course/_form.html.twig', {'button_label': 'Mettre à jour', 'class': 'btn btn-success'}) }}

        <div class="d-flex justify-content-between mt-3">
            <a href="{{ path('app_course_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Retour à la liste
            </a>

            {{ include('course/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
