{% extends 'base_admin.html.twig' %}

{% block title %}New Course{% endblock %}

{% block admin_content %}
    <h3>Créer un nouveau Cursus</h3>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Retour à la liste</a>
{% endblock %}
