{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Empêche le scroll */
        }

        .hero {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: url("{{ asset('images/home.png') }}") no-repeat center center;
            background-size: cover;
            z-index: -1; /* Place l'image derrière le contenu */
        }

        /* Ajuste le body pour ne pas couvrir la navbar */
        main {
            position: relative;
            z-index: 1;
        }
    </style>
{% endblock %}
