{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2> Page authentifiée </h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}