<h1>Bonjour ! Veuillez confirmer votre adresse e-mail !</h1>

<p>
    <!-- Instruction to confirm email -->
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>

    <!-- Dynamic confirmation link -->
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.

    <!-- Expiry message -->
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
