{% extends 'base_admin.html.twig' %}

{% block title %}Modifier la Catégorie{% endblock %}

{% block admin_content %}
    <div class="card shadow-sm p-4">
        <h3 class="mb-4 text-primary">Modifier la Catégorie</h3>

        {# Include the form to edit the category with a custom button label and class #}
        {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour', 'class': 'btn btn-primary'}) }}

        <div class="d-flex justify-content-between mt-4">
            {# Button to return to the category list #}
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Retour à la liste
            </a>
            {# Include the delete form for this category with a custom class #}
            {{ include('category/_delete_form.html.twig', { 'class': 'btn btn-danger' }) }}
        </div>
    </div>
{% endblock %}
